.pos,
.pos-r {
  position: relative;
}
.pos-s {
  position: static;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.trbl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.t {
  top: 0;
}
.r {
  right: 0;
}
.b {
  bottom: 0;
}
.l {
  left: 0;
}
.t-a {
  top: auto;
}
.r-a {
  right: auto;
}
.b-a {
  bottom: auto;
}
.l-a {
  left: auto;
}
.fl,
.fl-st {
  float: left;
}
.fl-nd {
  float: right;
}
.fl-n {
  float: none;
}
.cl,
.cl-b {
  clear: both;
}
.cl-st {
  clear: left;
}
.cl-nd {
  clear: right;
}
.d,
.d-b {
  display: block;
}
.d-n {
  display: none;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.v,
.v-h {
  visibility: hidden;
}
.v-v {
  visibility: visible;
}
.ov,
.ov-h {
  overflow: hidden;
}
.ov-v {
  overflow: visible;
}
.ov-s {
  overflow: scroll;
}
.ov-a {
  overflow: auto;
}
.ovx,
.ovx-h {
  overflow-x: hidden;
}
.ovx-v {
  overflow-x: visible;
}
.ovx-s {
  overflow-x: scroll;
}
.ovx-a {
  overflow-x: auto;
}
.ovy,
.ovy-h {
  overflow-y: hidden;
}
.ovy-v {
  overflow-y: visible;
}
.ovy-s {
  overflow-y: scroll;
}
.ovy-a {
  overflow-y: auto;
}
.m-a {
  margin: auto;
}
.mt-a {
  margin-top: auto;
}
.mr-a {
  margin-right: auto;
}
.mb-a {
  margin-bottom: auto;
}
.ml-a {
  margin-left: auto;
}
.mtb-a {
  margin-top: auto;
  margin-bottom: auto;
}
.mlr-a {
  margin-left: auto;
  margin-right: auto;
}
.m-1 {
  margin: 10px;
}
.mt-1 {
  margin-top: 10px;
}
.mr-1 {
  margin-right: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.ml-1 {
  margin-left: 10px;
}
.mtb-1 {
  margin-left: 10px;
  margin-bottom: 10px;
}
.mlr-1 {
  margin-left: 10px;
  margin-right: 10px;
}
.m-2 {
  margin: 20px;
}
.mt-2 {
  margin-top: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}
.ml-2 {
  margin-left: 20px;
}
.mtb-2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.mlr-2 {
  margin-left: 20px;
  margin-right: 20px;
}
.m-3 {
  margin: 30px;
}
.mt-3 {
  margin-top: 30px;
}
.mr-3 {
  margin-right: 30px;
}
.mb-3 {
  margin-bottom: 30px;
}
.ml-3 {
  margin-left: 30px;
}
.mtb-3 {
  margin-left: 30px;
  margin-bottom: 30px;
}
.mlr-3 {
  margin-left: 30px;
  margin-right: 30px;
}
.p-a {
  padding: auto;
}
.pt-a {
  padding-top: auto;
}
.pr-a {
  padding-right: auto;
}
.pb-a {
  padding-bottom: auto;
}
.pl-a {
  padding-left: auto;
}
.ptb-a {
  padding-top: auto;
  padding-bottom: auto;
}
.plr-a {
  padding-left: auto;
  padding-right: auto;
}
.p-1 {
  padding: 10px;
}
.pt-1 {
  padding-top: 10px;
}
.pr-1 {
  padding-right: 10px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pl-1 {
  padding-left: 10px;
}
.ptb-1 {
  padding-left: 10px;
  padding-bottom: 10px;
}
.plr-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-2 {
  padding: 20px;
}
.pt-2 {
  padding-top: 20px;
}
.pr-2 {
  padding-right: 20px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pl-2 {
  padding-left: 20px;
}
.ptb-2 {
  padding-left: 20px;
  padding-bottom: 20px;
}
.plr-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-3 {
  padding: 30px;
}
.pt-3 {
  padding-top: 30px;
}
.pr-3 {
  padding-right: 30px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pl-3 {
  padding-left: 30px;
}
.ptb-3 {
  padding-left: 30px;
  padding-bottom: 30px;
}
.plr-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.w-1-6 {
  width: 16.666%;
}
.h-1-6 {
  height: 16.666%;
}
.miw-1-6 {
  min-width: 16.666%;
}
.mih-1-6 {
  min-height: 16.666%;
}
.maw-1-6 {
  max-width: 16.666%;
}
.mah-1-6 {
  max-height: 16.666%;
}
.w-1-4 {
  width: 25%;
}
.h-1-4 {
  height: 25%;
}
.miw-1-4 {
  min-width: 25%;
}
.mih-1-4 {
  min-height: 25%;
}
.maw-1-4 {
  max-width: 25%;
}
.mah-1-4 {
  max-height: 25%;
}
.w-1-3 {
  width: 33.333%;
}
.h-1-3 {
  height: 33.333%;
}
.miw-1-3 {
  min-width: 33.333%;
}
.mih-1-3 {
  min-height: 33.333%;
}
.maw-1-3 {
  max-width: 33.333%;
}
.mah-1-3 {
  max-height: 33.333%;
}
.w-1-2 {
  width: 50%;
}
.h-1-2 {
  height: 50%;
}
.miw-1-2 {
  min-width: 50%;
}
.mih-1-2 {
  min-height: 50%;
}
.maw-1-2 {
  max-width: 50%;
}
.mah-1-2 {
  max-height: 50%;
}
.w-2-3 {
  width: 66.666%;
}
.h-2-3 {
  height: 66.666%;
}
.miw-2-3 {
  min-width: 66.666%;
}
.mih-2-3 {
  min-height: 66.666%;
}
.maw-2-3 {
  max-width: 66.666%;
}
.mah-2-3 {
  max-height: 66.666%;
}
.w-5-6 {
  width: 83.333%;
}
.h-5-6 {
  height: 83.333%;
}
.miw-5-6 {
  min-width: 83.333%;
}
.mih-5-6 {
  min-height: 83.333%;
}
.maw-5-6 {
  max-width: 83.333%;
}
.mah-5-6 {
  max-height: 83.333%;
}
.w-1-1 {
  width: 100%;
}
.h-1-1 {
  height: 100%;
}
.miw-1-1 {
  min-width: 100%;
}
.mih-1-1 {
  min-height: 100%;
}
.maw-1-1 {
  max-width: 100%;
}
.mah-1-1 {
  max-height: 100%;
}
.fw,
.fw-n {
  font-weight: normal;
}
.fw-b {
  font-weight: bold;
}
.fw-br {
  font-weight: bolder;
}
.fw-lr {
  font-weight: lighter;
}
.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fs,
.fs-n {
  font-style: normal;
}
.fs-i {
  font-style: italic;
}
.fz-xs {
  font-size: 9px;
}
.fz-sm {
  font-size: 11px;
}
.fz-df {
  font-size: 14px;
}
.fz-lg {
  font-size: 22px;
}
.fz-xl {
  font-size: 36px;
}
.va,
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-bl {
  vertical-align: baseline;
}
.va-b {
  vertical-align: bottom;
}
.ta,
.ta-st {
  text-align: left;
}
.ta-nd {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.ta-j {
  text-align: justify;
}
.td,
.td-n {
  text-decoration: none;
}
.td-u {
  text-decoration: underline;
}
.td-l {
  text-decoration: line-through;
}
.tt,
.tt-u {
  text-transform: uppercase;
}
.tt-n {
  text-transform: none;
}
.tt-c {
  text-transform: capitalize;
}
.tt-l {
  text-transform: lowercase;
}
.whs-n {
  white-space: normal;
}
.whs-p {
  white-space: pre;
}
.whs-nw {
  white-space: nowrap;
}
.bg-n {
  background: none;
}
.bgc-w {
  background-color: white;
}
.bgc-b {
  background-color: black;
}
.bgc-t {
  background-color: transparent;
}
.bgc-pr {
  background-color: #00beef;
}
.bgc-ac {
  background-color: #ffaa00;
}
.bgc-prlt {
  background-color: #bfeffb;
}
.bgc-aclt {
  background-color: #ffeabf;
}
.c-w {
  color: white;
}
.c-b {
  color: black;
}
.c-pr {
  color: #00beef;
}
.c-ac {
  color: #ffaa00;
}
.ol-n {
  outline: none;
}
.bd-n {
  border: none;
}
.bdcl-c {
  border-collapse: collapse;
}
.bdrs-0 {
  border-radius: 0;
}
.bdtrrs-0 {
  border-top-right-radius: 0;
}
.bdtlrs-0 {
  border-top-left-radius: 0;
}
.bdbrrs-0 {
  border-bottom-right-radius: 0;
}
.bdblrs-0 {
  border-bottom-left-radius: 0;
}
.bdtrs-0 {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.bdrrs-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bdbrs-0 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.bdlrs-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.lis-n {
  list-style: none;
}
.pgbb-al {
  page-break-before: always;
}
.pgbb-l {
  page-break-before: left;
}
.pgbb-r {
  page-break-before: right;
}
.pgbi-av {
  page-break-inside: avoid;
}
.pgba-al {
  page-break-after: always;
}
.pgba-l {
  page-break-after: left;
}
.pgba-r {
  page-break-after: right;
}
.cur,
.cur-d {
  cursor: default;
}
.cur-a {
  cursor: auto;
}
.cur-p {
  cursor: pointer;
}
.cur-t {
  cursor: text;
}
